.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.service {
  /* background: var(--color-bg-variant); */
  border-radius: 0 0 1.2rem 1.2rem;
  /* border: 1px solid var(--color-primary); */
  height: fit-content;
  transition: var(--transition);
  .service__head {
    background-color: var(--bs-dark);
    color: var(--bs-warning);
  }
}
.service:hover {
  // background: transparent !important;
  // border-color: var(--bs-secondary);
  cursor: default;
  .service__list {
    // background: transparent;
    transition: var(--transition);
    // border: 2px solid var(--bs-secondary);
  }

  .service__list li p {
    // color: var(--color-primary);
  }
  .service__list-icon {
    color: var(--bs-warning);
  }
}
.service__head {
  color: var(--color-primary);
  padding: 2rem;
  border-radius: 1.2rem 1.2rem 0 0;
  // border: 1px solid var(--bs-secondary);
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}
.service__head h3 {
  color: var(--color-bg);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
.service__list {
  padding: 2rem;
  background: linear-gradient(160deg, var(--bs-dark), transparent);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--color-border);
  margin-bottom: 0;
  border-radius: 0 0 2rem 2rem;
}
.service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.service__list-icon {
  color: var(--color-white);
  margin-top: 2px;
  font-size: 30px;
}

.service__list li p {
  font-size: 0.9rem;
  color: #fff;
}
/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service {
    height: auto;
  }
}
/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
